{% extends "app/layout.html" %}

{% block content %}{% load staticfiles %}

<div class="container">
		
        <div class="title_pol">
				<h1>О нас</h1>
				<p>BioMechatronics  создана в 2012 году для реализации масштабного проекта «Протеин России. Высокотехнологичное производство белкового концентрата из масличных культур». В основе проекта – создание производства по выпуску ценного компонента кормов растительного происхождения для животноводства и птицеводства с повышенным содержанием протеина.

Стратегия Компании предусматривает строительство в течение ближайших 5 лет четырех заводов по глубокой переработке подсолнечного шрота на территории России и одного завода в Европе.

В качестве пилотного региона реализации проекта выбрана Республика Алтай. Производство мощностью 6300 тонн высококачественного белкового концентрата в год  введено в эксплуатацию  в конце 2014 года. Второй завод производственной мощностью 25 000 тонн в год  будет построен в г. Бобров Воронежской области. Производство будет запущено в 2016 году. Третьим регионом выбрана Республика Татарстан. Производство, аналогичное по мощности воронежскому, будет размещено в Индустриальном парке «Чистополь» и запущено в 2017 году..</p>
        </div>


       
</div>



		
		
{% endblock %}
