{% extends "app/layout.html" %}
    
{% block content %}{% load staticfiles %}
       

      <div class="images">
          <div class="client1">
      <a href ="https://www.biomechatronics.ca/" target="_blank"> <img src="{% static 'app/content/logo1.png' %}" alt="Logo 1"/></a>
          <p>Более двадцати пяти лет компания "Bio-Bio Tec" является лидером в разработке, производстве и распространении имплантатов, ортопедических компонентов, биоматериалов и разнообразных стоматологических хирургических инструментов. Компания "Bio-Bio Tec" уверена в том, что имплантология должна быть предельно эргономичной, и производит для мирового рынка продукты высочайшего качества, обеспечивая потребителям исключительный сервис. Девиз компании – «Simplantology!» – Доступная и эргономичная имплантация!.</p></div>
      <div class="client2">
          <a href ="https://www.utwente.nl/" target="_blank"> <img src="{% static 'app/content/logo2.png' %}" alt="Logo 2"/></a>
          <p>BMeT создает маломощные процессоры для запуска алгоритмов ИИ. Эти микросхемы идеально подходят для внедрения на гаджеты более совершенных алгоритмов, особенно голосовых помощников..</p></div>
      <div class="client3">
          <a href ="https://www.autodesk.com/" target="_blank"> <img src="{% static 'app/content/logo3.png' %}" alt="Logo 3"/></a>
          <p>"BIO group" глобальная компания, производитель оборудования, питательных сред, антител, расходных материалов, а также программного обеспечения для исследований в области геномики и протеомики и безопасности пищевых продуктов. За более полувековую историю компании удалось стать одним из лидеров рынка в производстве современного оборудования для молекулярно-биологических исследований, с каталогом, насчитывающим более 8 000 наименований, штатом сотрудников в 6 тыс. человек, работающих в том числе в России, Казахстане и Украине. .</p></div>
      </div>

      
   
{% endblock %}

